body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 40px;
}
section{
    display: flex;
    margin-bottom: 180px;
}
.half{
    width: 50%;
    margin-left: 6%;
}
.half img{
    width: 80%;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.link{
    background-color:#43ed81;
    color: white;
    font-weight: 700;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 8%;
}
.color{
    color: orange;
}
.drem{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.middale{
    text-align: center;
    color: #8ef851;
}
.Exparenc{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.flix{
    display: flex;
    margin-bottom: 0;
}
.exparence{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 80px gray;
    }
    #baby-wab{
        border-left: 6px solid;
        border-image:linear-gradient(blue, cyan);
        border-image-slice: 1;
    }
    #full-stack{
        border-left: 6px solid;
        border-image:linear-gradient(red, tomato);
        border-image-slice: 1;
    }
    footer p{
        text-align: center;
    }